h1, h3#participant {
    margin-bottom: 0;
}
h3 {
    color: #9e9e9e;
}
div.questions {
    h4 {
        font-weight: bold;
    }
}
#action-buttons {
    position: fixed;
    bottom: 20px;
    right: 26px;
    button {
        margin: 2px;
    }
}